<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><h6> &copy; Copyright Kr&uuml;ger Shop GmbH</h6></a>
  <a class="navbar-end" href="../pages/contact.html" style="color:white"><b>Kontakt</b></a>
  <a class="navbar-end" href="../pages/disclaimer.html" style="color:white"><b>Datenschutz</b></a>
  <a class="navbar-end" href="../pages/imprint.html" style="color:white"><b>Impressum</b></a>
</nav>	