<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><h6> &copy; Copyright Kr&uuml;ger Schuh GmbH</h6></a>
  <a class="navbar-end" href="contact" style="color:white"><b>Kontakt</b></a>
  <a class="navbar-end" href="disclaimer" style="color:white"><b>Datenschutz</b></a>
  <a class="navbar-end" href="imprint" style="color:white"><b>Impressum</b></a>
</nav>	