<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white" a href="/">Kr&uuml;ger Schuh GmbH</a>
   <form class="form-inline">
    <!-- Start Login Modal -->
		<button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
			<i class="fas fa-user-circle"></i>&nbsp;Login
		</button>
		   
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
				<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Login</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<P> Bitte melden Sie sich mit Ihren Benutzernamen und Passwort an.</P>
				<input class="form-control mr-sm-2" type="text" placeholder="Benutzername" aria-label="text">
				<input class="form-control mr-sm-2" type="password" placeholder="Passwort" aria-label="text">
				<P> 
				<P><a href="../pages/passwordreset.html" font size="2"><i class="fas fa-question-circle"></i> Passwort vergessen</a></P>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-success">Einloggen</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Schlie&szlig;en</button>
			</div>
		</div>
	</div>
</div>
<!-- Ende Login Modal -->
&nbsp;
     <a href="/registrieren" class="btn btn-light" role="button" aria-pressed="true"><i class="fas fa-sign-in-alt"></i>&nbsp;Registrieren</a>
	  &nbsp;
  <button type="button" class="btn btn-warning">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i> Warenkorb <span class="badge badge-danger">1</span>
  </button>
  </form>
</nav>