<div class="col-12">
    <div class="jumbotron">
        <h4 class="display-4">
            <center>
                <font color="#009432"><i class="fas fa-cube" aria-hidden="true"></i> Ihre Bestellung wurde
                    erfolgreich abgeschickt.
            </center>
            </font>
        </h4>
        <h6 class="display-6">
            <center>Sie befindet sich bereits auf dem Weg zu Ihnen.</center>
            <center>Sie erhalten per Mail eine Bestellübersicht inklusive Rechnung als PDF-Datei</center>
            <center>Vielen Dank!</center>
        </h6>
    </div>
    <br>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">




                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>