<div class="col-12">
    <div class="jumbotron">
        <h4 class="display-4">Designen Sie Ihren persönlichen Schuh:</h4>
        <h4 class="display-4">{{title}}</h4>
        <br>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <style>

                                /* Generator */


   
</style>

                            <div class="container-fluid">
                                <div class="row">

                                    <div class="col-md-13 order-md-1 ">
                                        <!-- Bildanzeige des Konfigurators  -->
                                        <div class="wrap">
                                            <!-- weißer Schuh -->
                                            <img class="weißer_schuh" id="weißer_schuh" src="/img/originalschuh.png">

                                            <!-- Farben/Aufdrucke/Muster -->

                                            <!-- Schnürsenkel -->
                                            <img class="grauSchnuer" id="grauSchnuer" src="/img/grauSchnuer.png" style="display: none;">
                                            <img class="rosaSchnuer" id="rosaSchnuer" src="/img/rosaSchnuer.png" style="display: none;">
                                            <img class="hellblauSchnuer" id="hellblauSchnuer" src="/img/blauSchnuer.png"
                                                style="display: none;">

                                            <!-- Nähte -->
                                            <img class="gruenNaht" id="gruenNaht" src="/img/gruenNaht.png" style="display: none;">
                                            <img class="rotNaht" id="rotNaht" src="/img/rotNaht.png" style="display: none;">
                                            <img class="blauNaht" id="blauNaht" src="/img/blauNaht.png" style="display: none;">

                                            <!-- Aufdrucke -->
                                            <img class="flammen" id="flammen" src="/img/flammen.png" style="display: none;">
                                            <img class="planet" id="planet" src="/img/planet.png" style="display: none;">
                                            <img class="musik" id="musik" src="/img/musik.png" style="display: none;">

                                            <!-- Muster -->
                                            <img class="diamonds" id="diamonds" src="/img/diamonds.png" style="display: none;">
                                            <img class="zigzag" id="zigzag" src="/img/zigzag.png" style="display: none;">

                                        </div>
                                        <br><br>
                                        {{!-- <button type="submit" class="btn btn-success btn-lg" id="btnSendConfiguration">Jetzt
                                            für 45€ kaufen!</button> --}}

                                        <button onclick="Zurücksetzen(); Konfiguration()" class="btn btn-secondary">Konfiguration
                                            zurücksetzen</button>
                                    </div>

                                    <div class="col-md-2 order-md-2">
                                        <form action="/configurator" method="post">
                                            <!-- Konfiguration / Auswahl in Dropdown-->

                                            <!-- Dropdown Schnürsenkel -->
                                            <p style="font-size: 18pt"><i><b>Schnürsenkel:</b></i></p>
                                            <div class="form-group">
                                                <select class="custom-select" id="dd_schnuersenkel" onchange="Konfiguration()"
                                                    name="shoelace">
                                                    <option value="Weiß">Weiß</option>
                                                    <option value="Rosa"> Rosa</option>
                                                    <option value="Grau"> Grau</option>
                                                    <option value="Hellblau"> Hellblau</option>
                                                </select>
                                            </div>


                                            <!-- Dropdown Nähte -->
                                            <p style="margin-top: 15px; font-size: 18pt"><i><b>Nähte:</b></i></p>
                                            <div class="form-group">
                                                <select class="custom-select" id="dd_naehte" onchange="Konfiguration()"
                                                    name="seam">
                                                    <option value="Weiß">Weiß</option>
                                                    <option value="Rot"> Rot</option>
                                                    <option value="Grün"> Grün</option>
                                                    <option value="Blau"> Blau</option>
                                                </select>
                                            </div>


                                            <!-- Dropdown Muster -->
                                            <p style="margin-top: 15px; font-size: 18pt "><i><b>Muster:</b></i></p>
                                            <div class="form-group">
                                                <select class="custom-select" id="dd_muster" onchange="Konfiguration()"
                                                    name="pattern">
                                                    <option value="Keine Angabe"> - </option>
                                                    <option value="Zick-Zack"> Zick-Zack</option>
                                                    <option value="Diamanten"> Diamanten</option>
                                                </select>
                                            </div>

                                            <!-- Dropdown Aufdruck -->
                                            <p style="margin-top: 15px; font-size: 18pt"><i><b>Aufdruck:</b></i></p>
                                            <div class="form-group">
                                                <select class="custom-select" id="dd_aufdruck" onchange="Konfiguration()"
                                                    name="print">
                                                    <option value="Keine Angabe"> - </option>
                                                    <option value="Flammen"> Flammen</option>
                                                    <option value="Musik"> Musik</option>
                                                    <option value="Planet"> Planet</option>
                                                </select>
                                            </div>
                                            <br><br>
                                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                            <button type="submit" class="btn btn-success btn-lg" id="btnSendConfiguration">Bestellung
                                                überprüfen</button>

                                        </form>
                                    </div>
                                </div>
                            </div>






                            <script>


                            </script>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>