<div class="col-6">
    <div class="jumbotron">
        <h1 class="display-3">Willkommen</h1>
        <p class="lead">Bei uns finden Sie eine große Auswahl an Konfigurationsmöglichkeiten, um Ihren eigenen Sneaker zu gestalten. </p>
        <hr class="my-4">
        <p>Starten Sie jetzt und konfigurieren Sie sich Ihren eigenen Sneaker.</p>
        <a class="btn btn-dark btn-lg" href="/configurator" role="button">
            <i class="far fa-edit"></i>&nbsp;Sneaker konfigurieren</a>

            {{> header}}
    </div>
</div>

